@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div class="text-center">
  <div>
    <a href="https://a0.to/dotnet-templates/blazor-webapp"><img src="images/auth0-dotnet-ebook.png" alt=".NET Identity with Auth0"></a>
  </div>
</div>