@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
        <div>
        <a href="https://auth0.com/resources/ebooks/net-identity-with-auth0?utm_source=auth0_dotnet_template&utm_medium=sc&utm_campaign=mvc_dotnet_ebook"><img src="images/auth0-dotnet-ebook.png" alt=".NET Identity with Auth0"></a>
    </div>
</div>
